# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Local Qdrant
qdrant_storage/
qdrant_storage_temp/

# SQLite
*.sqlite
*.db

# Hugging Face cache
.cache/
hf_cache/

# Model cache
models/
model_cache/
*.bin
*.safetensors

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db